* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2, 
section h3,
form button {
    font-family: Coming Soon;
}

body,
input,
textarea {
    font-family: Roboto Mono;
}

header {
    padding: 16px 0;
    background-color: #000;
    color: #ecf0f1;
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    text-decoration: none;
}

header nav a {
    color: #ecf0f1;
    text-decoration: none;
}

.container,
h2 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

h2 {
    padding: 10px;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img {
    height: 50px;
    
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.engravings img {
    height: 100%;
}

.engravings li {
    display: flex;
    margin-right: 8px;
    margin-bottom: 8px;
    align-items: center;
}

.engravings p,
h3 {
    margin-left: 8px;
    box-sizing: border-box;
}

.skills img {
    height: 60px;
}

#skills .container {
    text-align: center;
    justify-content: start;
    align-items: start;
}

#skills .container .skills {
    max-width: 480px;
    margin: 8px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills-item {
    padding: 10px;
    width: 120px;
}

.skills-item h4:first-child {
    margin: 4px;
}

.skills h3 {
    text-align: left;
}

.skills-text {
    max-width: 705px;
    text-align: justify;
}

#acessories .container {
    text-align: center;
    justify-content: start;
    align-items: center;
}

.acessories img {
    height: 100%;
    width: 89px;
}

.acessories-item {
    padding: 10px;
    display: flex;
    align-items: center;
}

.acessories-text {
    max-width: 1115px;
    align-items: start;
    text-align: justify;
}

.acessories p {
    margin-left: 8px;
}

.contact .container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
    width: 1280px;
}

form input,
textarea,
select,
button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
}

.formulario form input,
select {
    margin-bottom: 22px;
}

.formulario {
    align-items: start;
}

input:focus,
textarea:focus {
    outline-color: #2c2a2a;
}

.profile {
    margin-left: 8px;
}

.profile img {
    width: 100%;
    height: auto;
    padding-right: 40px;
}

footer {
    background-color: #000;
    color: #ecf0f1;
    padding: 16px 0;
}